<div class="container">
  <div class="center">
    <div class="spacious content-block">
      <h1>Careers</h1>
    </div>

    <div class="Vlt-grid extend Vlt-grid--center">
      <%= render partial: 'static/career', collection: @careers %>
    </div>
  </div>
</div>
